img{
    display: block;
}
body{
    background-color: whitesmoke;
}
h1{
    color: lightseagreen;
    text-transform: uppercase;
}
.home-img{
    width: 300px;
}
.home-list{
    list-style: none;
}
.home-list a{
    text-decoration: none;
    color:goldenrod;
}